$manrope: "Manrope", sans-serif;
$igraSans: "Igra Sans";
$geologica: "Geologica";
$blueColor: #3a5385;
$blackish: #333333;
@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}
@mixin cirlceSpan($bgColor) {
  width: 5px;
  height: 5px;
  background: $bgColor;
  border-radius: 50%;
}
@mixin centerItem() {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: #f9f9f9;
}
header {
  .header-top-bg {
    background: #e7eaf2;
    padding-block: 10px;
    @include respond-to(640px) {
      display: none;
    }
    .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .top-left {
        display: flex;
        align-items: center;
        gap: 30px;
        ul {
          display: flex;
          gap: 30px;
          @include respond-to(1200px) {
            display: none;
          }
          li {
            color: $blackish;
            font-family: $geologica;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.375;
            &:hover {
              color: $blueColor;
            }
          }
        }
      }
      .top-right {
        display: flex;
        align-items: center;
        gap: 30px;

        .mobile-menu {
          display: none;
          @include respond-to(1200px) {
            display: flex;
          }
        }
      }
      .icon-text {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          color: $blueColor;
          font-size: 20px;
        }
        .text {
          color: $blueColor;
          font-family: $manrope;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.3;
          &:hover {
            color: $blackish;
          }
        }
        select {
          appearance: none;
          padding-inline: 5px;
        }
      }
    }
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    gap: 30px;
    .bottom-left {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      .logo {
        max-width: 136px;
        margin-right: 10px;
        img {
          width: 100%;
          display: block;
        }
      }
      .catalog-btn {
        padding: 20px 24px;
        border-radius: 100px;
        border: 1px solid #33333380;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $blackish;
        font-family: $geologica;
        @include respond-to(640px) {
          display: none;
        }
        .icon {
          font-size: 20px;
        }
        .text {
          font-size: 20px;
          line-height: 1.2;
          font-weight: 300;
        }
      }
      form {
        border: 1px solid #33333380;
        padding-inline: 24px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 450px;
        flex-grow: 1;
        width: 100%;
        @include respond-to(1200px) {
          display: none;
        }
        input {
          width: 100%;
          padding-block: 20px;
          color: rgb(51, 51, 51, 50%);
          font-size: 16px;
          font-weight: 400;
          font-family: $geologica;
        }
        button {
          font-size: 20px;
          font-weight: 900;
          color: $blackish;
        }
      }
    }
    .bottom-right {
      display: flex;
      align-items: center;
      gap: 10px;
      @include respond-to(640px) {
        display: none;
      }
      .icon-btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #33333380;
        position: relative;
        @include centerItem();
        transition: background 0.2s linear, border 0.2s linear;
        &:hover {
          background: $blueColor;
          border: 1px solid $blueColor;

          i {
            color: #fff;
          }
        }
        .absolute-span {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $blueColor;
          font-family: $geologica;
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          top: 0;
          right: 0;
          @include centerItem();
        }
        i {
          font-size: 20px;
          font-weight: 900;
          color: $blackish;
          transition: color 0.2s linear;
        }
      }
      .mobile-btn {
        display: none;
        @include respond-to(1200px) {
          display: flex;
        }
      }
      .menu-btn-mobile {
        display: none;
      }
    }
    .menu-btn-mobile {
      display: none;
      @include respond-to(640px) {
        display: flex;
        color: $blueColor;
        font-size: 28px;
        font-weight: 900;
      }
    }
  }
}
main {
  section {
    margin-bottom: 20px;
  }
  .home-section {
    display: flex;
    align-items: end;
    aspect-ratio: 2.1/1;
    background: linear-gradient(
      180deg,
      #ececf4 -0.7%,
      #f3f3f9 30.01%,
      #f4f3fb 59.72%,
      #f0eff7 81.37%,
      #ececf4 100%
    );
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    @include respond-to(1200px) {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          300.45deg,
          #e6eaf2 0%,
          rgba(255, 255, 255, 0) 100%
        );
        @include respond-to(640px) {
          content: none;
        }
      }
    }
    @include respond-to(640px) {
      background: transparent;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      aspect-ratio: auto;
    }
    .home-text {
      padding: 40px;
      position: relative;
      z-index: 1;
      @include respond-to(1200px) {
        padding: 30px;
      }
      @include respond-to(640px) {
        padding: 0px;
        padding-top: 150px;
      }
      h2 {
        color: $blackish;
        font-family: $igraSans;
        font-size: 70px;
        font-weight: 400;
        line-height: 1;
        max-width: 650px;
        @include respond-to(1200px) {
          font-size: 55px;
          max-width: 400px;
        }
        @include respond-to(640px) {
          font-size: 35px;
          max-width: 320px;
        }
      }
    }
    .home-img {
      position: absolute;
      height: 100%;
      right: 0;
      @include respond-to(1200px) {
        right: -100px;
      }
      @include respond-to(640px) {
        position: static;
        border-radius: 30px;
        overflow: hidden;
      }
      img {
        height: 100%;
        transform: rotate(180deg) scaleY(-1);
        @include respond-to(640px) {
          width: 100%;
        }
      }
    }
  }
  .about-section {
    display: flex;
    flex-direction: column;
    background: $blueColor;
    padding: 40px;
    border-radius: 30px;
    color: #fff;
    font-family: $geologica;
    gap: 100px;
    @include respond-to(640px) {
      gap: 60px;
      padding: 30px;
    }
    .about-top {
      display: flex;
      align-items: center;
      gap: 10px;
      .circle {
        @include cirlceSpan(#fff);
      }
      h6 {
        font-weight: 300;
        font-size: 14px;
      }
    }
    .about-bottom {
      display: flex;
      @include respond-to(1200px) {
        flex-direction: column;
        gap: 30px;
      }
      .bottom-text {
        width: 50%;
        @include respond-to(1200px) {
          width: 100%;
        }
        h2 {
          font-family: $igraSans;
          max-width: 356px;
          font-size: 45px;
          font-weight: 400;
          line-height: 1.26;
          @include respond-to(1200px) {
            max-width: 100%;
          }
          @include respond-to(640px) {
            font-size: 25px;
          }
        }
      }
      .bottom-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        @include respond-to(1200px) {
          width: 100%;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          max-width: 381px;
          line-height: 1.375;
          @include respond-to(1200px) {
            max-width: 487px;
          }
          @include respond-to(640px) {
            font-size: 14px;
          }
        }
        a {
          padding: 15px 30px;
          background-color: #fff;
          color: $blueColor;
          border-radius: 100px;
          margin-top: auto;
        }
      }
    }
  }
  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 80px;
    @include respond-to(1200px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    @include respond-to(1200px) {
      gap: 20px;
      padding-block: 40px;
    }
    .info-text {
      h2 {
        max-width: 380px;
        font-size: 45px;
        font-weight: 400;
        font-family: $igraSans;
        color: $blackish;
        line-height: 1.3;
        @include respond-to(640px) {
          font-size: 35px;
          line-height: 1;
          max-width: 300px;
        }
      }
    }
    .info-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @include respond-to(640px) {
        grid-template-columns: 1fr;
      }
      .card {
        border: 1px solid #3f537b4d;
        padding: 20px;
        border-radius: 20px;
        height: 240px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        justify-content: space-between;
        color: $blueColor;
        @include respond-to(640px) {
          height: auto;
        }
        .icon {
          font-size: 26px;
        }
        p {
          font-family: $geologica;
          font-size: 20px;
          line-height: 1.25;
          font-weight: 300;
        }
      }
    }
  }
  hr {
    border-color: #9da9c2;
    opacity: 50%;
  }
  .catalog-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 80px;
    font-family: $geologica;
    .catalog-top {
      display: flex;
      align-items: center;
      gap: 10px;
      .circle {
        @include cirlceSpan($blackish);
      }
      h6 {
        font-size: 14px;
        font-weight: 300;
      }
    }
    .catalog-title {
      font-size: 45px;
      font-weight: 400;
      font-family: $igraSans;
      @include respond-to(640px) {
        font-size: 35px;
        max-width: 300px;
      }
    }
    .catalog-cards {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        display: flex;
        flex-direction: column;
        min-width: 335px;
        width: calc((100% - 60px) / 4);
        flex-shrink: 0;
        background: #fff;
        border-radius: 20px;
        position: relative;
        scroll-snap-align: start;
        @include respond-to(1200px) {
          min-width: 285px;
          width: calc((100% - 40px) / 3);
        }
        @include respond-to(640px) {
          width: calc((100% - 20px) / 2);
        }
        .card-img {
          width: 100%;
          height: 180px;
          flex-shrink: 0;
          @include respond-to(1200px) {
            height: 160px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .card-content {
          padding: 25px;
          display: flex;
          flex-direction: column;
          gap: 35px;
          height: 100%;
          justify-content: space-between;
          @include respond-to(1200px) {
            gap: 55px;
          }
          @include respond-to(640px) {
            gap: 55px;
          }
          .content-top {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3 {
              font-size: 20px;
              font-weight: 500;
              line-height: 1.2;
              color: $blackish;
              @include respond-to(1200px) {
                font-size: 16px;
              }
            }
            p {
              font-size: 14px;
              font-weight: 300;
              color: #969696;
              @include respond-to(1200px) {
                font-size: 12px;
              }
            }
          }
          .content-bottom {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: space-between;
            @include respond-to(1200px) {
              flex-direction: column;
              align-items: start;
            }
            .price {
              display: flex;
              flex-direction: column;
              align-items: start;
              .del-price {
                color: #969696;
                font-size: 14px;
                font-weight: 300;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 1px;
                  right: 1px;
                  transform-origin: top right;
                  transform: rotate(-21deg);
                  width: 100%;
                  height: 1px;
                  background: #969696;
                }
              }
              .main-price {
                color: $blackish;
                font-size: 20px;
                font-weight: 700;
              }
            }
            button {
              border-radius: 50px;
              padding: 18px 29px;
              background: #3a5385;
              color: #fff;
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 16px;
              font-weight: 500;
              transition: 0.2s linear;
              @include respond-to(1200px) {
                width: 100%;
                justify-content: center;
              }
              &:hover {
                background: #2b374e;
              }
              .icon {
                font-size: 20px;
              }
            }
          }
        }
        .absolute-div {
          position: absolute;
          top: 20px;
          left: 20px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          span {
            font-size: 12px;
            font-weight: 300;
            padding: 4px 8px;
            border-radius: 100px;
            line-height: 1.3;
          }
          .green {
            background: #4fb153;
            color: #fff;
          }
          .yellow {
            background: #ffed4e;
            color: $blackish;
          }
        }
      }
    }
  }
  .news-section {
    background: $blueColor;
    padding: 40px;
    display: flex;
    gap: 123px;
    border-radius: 30px;
    font-family: $geologica;

    @include respond-to(1200px) {
      gap: 40px;
      flex-direction: column;
    }
    @include respond-to(640px) {
      padding: 30px;
    }
    .news-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include respond-to(1200px) {
        flex-direction: row;
        align-items: end;
      }
      .left-top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #fff;
        max-width: 257px;
        @include respond-to(640px) {
          max-width: 200px;
        }
        .news-top {
          display: flex;
          align-items: center;
          gap: 10px;
          .circle {
            @include cirlceSpan(#fff);
          }
          h6 {
            font-size: 14px;
            font-weight: 300;
          }
        }
        h2 {
          font-size: 45px;
          font-weight: 400;
          font-family: $igraSans;
          @include respond-to(640px) {
            font-size: 35px;
            line-height: 1.3;
          }
        }
      }
      .left-bottom {
        display: flex;
        align-items: center;
        gap: 15px;
        @include respond-to(640px) {
          display: none;
        }
        button {
          border: 1px solid #fff;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          color: #fff;
          font-size: 24px;
          transition: 0.2s linear;
          &:hover {
            background: #fff;
            color: $blackish;
          }
        }
      }
    }

    .news-right {
      display: flex;
      gap: 20px;
      width: 100%;
      overflow-x: auto;
      margin-right: -40px;
      scroll-snap-type: x mandatory;
      padding-right: 40px;
      &::-webkit-scrollbar {
        display: none;
      }
      @include respond-to(640px) {
        margin-right: -30px;
        padding-right: 30px;
      }
      .card {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        flex-shrink: 0;
        width: calc((100% - 40px) / 2.6);
        min-width: 350px;
        background: #445c8b;
        @include respond-to(640px) {
          min-width: 260px;
        }
        .card-img {
          width: 100%;
          height: 230px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .card-content {
          padding: 25px;
          display: flex;
          flex-direction: column;
          gap: 72px;
          .content-texts {
            display: flex;
            flex-direction: column;
            gap: 10px;
            span {
              color: rgb(255, 255, 255, 60%);
              font-size: 14px;
              font-weight: 300;
              line-height: 1.3;
            }
            h3 {
              font-size: 20px;
              font-weight: 700;
              line-height: 1.2;
              height: 50px;
              color: #fff;
              margin-bottom: 32px;
            }
          }
          a {
            font-size: 16px;
            font-weight: 300;
            color: rgba(255, 255, 255, 70%);
          }
        }
      }
    }
  }
}
footer {
  background: #2b374e;
  border-radius: 30px;
  padding: 70px 50px;
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: 50px 80px;
  font-family: $geologica;
  color: #fff;
  margin-bottom: 20px;
  @include respond-to(1200px) {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  @include respond-to(640px) {
    gap: 40px;
    padding: 30px;
  }
  hr {
    border-color: rgba(255, 255, 255, 20%);
  }
  .footer-left-top {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: start;
    @include respond-to(1200px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include respond-to(640px) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .left-top {
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 200px;
      @include respond-to(640px) {
        align-items: center;
      }
      .logo {
        max-width: 164px;
        width: 100%;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.25;
      }
    }
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 100px;
      background: #3d4a64;
      font-family: $manrope;
      @include respond-to(640px) {
        width: 100%;
        justify-content: center;
      }
      .icon {
        font-size: 18px;
      }
    }
  }
  .footer-right-top {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include respond-to(1200px) {
      gap: 40px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 40px;
      li {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        @include respond-to(640px) {
          font-size: 14px;
        }
      }
    }
    .contacts-div {
      display: flex;
      align-items: center;
      gap: 80px;
      flex-wrap: wrap;
      font-family: $manrope;
      @include respond-to(640px) {
        gap: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        span {
          color: rgb(255, 255, 255, 70%);
          font-size: 12px;
          font-weight: 500;
        }
        a {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }
  .footer-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include respond-to(1200px) {
      order: 1;
    }
    @include respond-to(640px) {
      align-items: center;
    }
    .link {
      max-width: 110px;
      width: 100%;
      background: #d4ff00;
      padding: 7px 5px;
      border-radius: 10px;
      @include respond-to(640px) {
       max-width: 100%;
       padding: 14px 10px;
      }
      img {
        width: 100%;
      }
    }
    .left-links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;
      font-size: 12px;
      font-weight: 300;
      color: rgba(255, 255, 255, 50%);
      a {
        transition: 0.3s linear;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .footer-right-bottom {
    display: flex;
    align-items: end;
    gap: 60px;
    @include respond-to(1200px) {
      flex-direction: column-reverse;
      gap: 30px;
      align-items: start;
    }
    .right-form {
      max-width: 480px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      p {
        max-width: 294px;
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2;
      }
      form {
        display: flex;
        align-items: center;
        gap: 8px;
        @include respond-to(640px) {
          flex-direction: column;
          align-items: start;
        }
        input {
          border: 1px solid #ffffff40;
          border-radius: 100px;
          padding: 16px 24px;
          color: #fff;
          width: 100%;
          font-weight: 300;
          &::placeholder {
            color: rgba(255, 255, 255, 50%);
          }
        }
        button {
          color: #fff;
          font-size: 16px;
          font-weight: 300;
          padding: 16px 24px;
          border-radius: 50px;
          background: #3a5385;
          @include respond-to(640px) {
            width: 100%;
          }
        }
      }
    }
    .right-icons {
      display: flex;
      gap: 16px;
      a {
        border: 1px solid #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
    }
  }
}
